  <div class="modal fade" id="requestInfoModal">
            <div class="modal-dialog requestInfo animated">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h4 class="modal-title">Request Info</h4>
                    </div>
                  	<div class="modal-body login">  
                      	<div class="box">
							<div id="temp_events" class='requestInfoBox form'>
								<form action="javascript:void(0);" onsubmit="saveRequestInfoData()">
									<input id="event_subject_input" type="text" class="input form-control" placeholder="Subjcet" required>
									<input id="event_location_input" type="text" class="input form-control" placeholder="Location">
									<input id="request_mail_input" type="email" class="input form-control" placeholder="Mail" required>
									<input id="request_name_input" type="text" class="input form-control" placeholder="Name" required>

								<div id="proposals">
									<table id="proposal_table" class="table">
									<tbody></tbody>
									</table>
								</div>

								<button type="submit" class="btn btn-default btn-login" >	 
									Continue
								</button>
							</from>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>