<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "groups" %>
<% end %>

<div id="groups">
	<% @groups.each do |group| %>
		<div class="group">
		  	<% if group.admin? @current_full_user %>
		  		<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
		  	<% end %>
		  	<%= link_to group.name, group %>
	  	</div>
	<% end %>
</div>

<a href="<%= url_for(new_group_path) %>" class="btn btn-success">
	Create new group
</a>