<div id="requests">
    <ul class="nav nav-pills nav-stacked">
        <!--li class="active"><a href="#">Home</a></li-->
        <% @requests.each do |request| %>
            <li id="request_<%= request.id %>">
                <a href="#" onclick="load_requests(<%= request.id %>)"><%= request.subject %> from <%= request.return_name %></a>
            </li>
        <% end %>
    </ul>
</div>

<div id='calendar'></div>