<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "login" %>
<% end %>

<div id="wrapper">

    <%= form_tag({action: "authenticate", method: "post"}, {:class => 'login-form'}) do %>
    
        <div class="header">
        <h1>Scheddy.me</h1>
<!--        <span>Fill out the form below to login to my super awesome imaginary control panel.</span> -->
        </div>
    
        <div class="content">
            <input name="username" type="text" class="input username" placeholder="Username" />
            <div class="user-icon"></div>

            <input name="password" type="password" class="input password" placeholder="Password" />
            <div class="pass-icon"></div>       
        </div>

        <div class="footer">
            <input type="submit" name="submit" value="Login" class="button" />
            <%= link_to "Register", users_path, :class => "register", id: "register" %></div>
        </div>
    
    <% end %>

</div>
