<% content_for :stylesheets do %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />
<% end %>

<div class="container">
	<center>
		I ♥ Scheddy
	</center>
</div>