.approve-event,
.close-event {
    float: right;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    opacity: 0.6;
    z-index: 100;
}

.approve-event:hover,
.close-event:hover{
    opacity: 2;
}

.approve-event{
    background: url(asset_path("approve.png")) no-repeat scroll 0 0 transparent;  
}

.close-event{
    background: url(asset_path("closebox.png")) no-repeat scroll 0 0 transparent;  
}

.fc-agenda-slots td {
    /*border-width: 0px 0 0 0px;*/
}

.fc-event{
    border-radius: 7%;
    padding: 2%;
    background: #4042DD;
}

.busy_event,
.user_event{
    background-color: #1D92DB;
}

.event-pass{
    background-color: #0A3A59
}

.proposel_event{
    background-color: #4042DD
}

.fc-head table,
.fc-body table{
    border-collapse:separate;
    border-spacing: 10px;
}

.fc-day{
    background-color: rgba(157, 157, 157, 0.1);
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover{
    border-color: white;
}
