.calendar-action{
    float: right;
}

#calendar{
	/*float:left;*/
    height: 100%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
	/*padding-top: 40px;*/
}

#side{
	float: right;
}

.close-event:hover{
    opacity: 2;
}

.fc-agenda-slots td div { height: 30px; }

.fc-work-time-day{
    background-color: yellow;
    opacity: 0.3;
    filter: alpha(opacity=30); /* for IE */
}

.proposel_event .fc-event-inner{
    bottom: 25px;
    left: 5px;
}

.fc-work-time{
    position: absolute;
    background-color: yellow;
    z-index:10;
    margin: 0;
    padding: 0;
    text-align: left;
    z-index: 0;
    opacity: 0.3;
    filter: alpha(opacity=30); /* for IE */
}