#requests{
	float: left;
	width: calc(15%-5px);
}

#delete{
    float: left;
    width: 15px;
}

#proposels{
	float: left;
	width: 15%;
}

#calendar{
	float: right;
	width: 70%;
	height: 100%;
}

.delete{
    padding:10px 10px;
}