#requests{
	float: left;
	width: 27%;
}

#delete{
    float: left;
    width: 15px;
}

#calendar{
	float: right;
	width: 70%;
	height: 100%;
}

.delete{
    padding:10px 10px;
}

#info{
    text-align: center;
}
#info > h1{
    display: inline;
}

.proposal-date{
	font-weight: bold;
}

.proposal{
	padding: 5px;
}

.active{
	background-color: rgb(158, 206, 215);
}

.proposal-approval,
.remove-request{
	float: right;
	cursor: pointer;
}