#options{
	float: left;
	width: 15%;
}

#option_data{
	float: left;
	width: 50%;
}

.remove-btn{
  border-radius: 50%;
}

#desc-input{
  resize: none;
  height: 75px;
  width: 50%;
}

#customBtn {
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 150px;
  border-radius: 5px;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.google-label {
  font-weight: bold;
  color: black;
}
span.icon {
  background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-right: #2265d4 1px solid;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
   font-family: 'Roboto', sans-serif;
}

label{
  font-weight: normal;
}

.nav-pills > li > a.current {
    border-left: thick solid rgb(78, 87, 100);
    border-radius: 0px;
}

.field{
  display: flex;
}

.field label{
  width: 17%;
}