<div class="modal fade" id="error-modal">
  <div class="modal-dialog loading animated">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        <h4 class="modal-title">Error :(</h4>
      </div>
      <div class="modal-body">  
        <div class="box">
          <div id='error-content' class='form'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>