  <div class="modal fade" id="loadingModal">
            <div class="modal-dialog loading animated">
                <div class="modal-content">
                	<div class="modal-header">
                		<h4 class="modal-title">Loading</h4>
                	</div>
                  	<div class="modal-body">  
                      	<div class="box">
							<div class='loadingBox form'>
								please wait, it will take a moment :)
							</from>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>