<div class="modal fade" id="popup-modal">
        <div class="modal-dialog loading animated">
            <div class="modal-content">
            	<div id="popup-header" class="modal-header">
            		<h4 id="popup-title" class="modal-title"></h4>
            	</div>
              	<div class="modal-body">  
                  	<div class="box">
						<div id="popup-content" class='form'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>